* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
  color: #35231b;

  background: radial-gradient(at 60% 40%, #ebf3ec, #3ea155);
  line-height: 150%;
}

#sky {
  background-color: #c7d7ed;
}

.flex-container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  align-items: center;
  width: 100%;
  /* height: 300px; */
  height: 40vh;
  background: url(pictures/mountain.png) no-repeat center bottom/40%;

  /* ne height: 20vh, jer se vh ne skalira dobro kasnije */
}

.flex-item {
  position: relative;
  /* flex-basis: 15%; */
  /* display: inline-block; */
}

img {
  max-width: 100%;
  height: auto;
}

.cloud {
  max-width: 100%;
  height: auto;
  /* z-index: 2; */
}

.top-cloud {
  position: relative;
  top: 3vh;
  z-index: 2;
  /* object-position: 10% 20%; */
  /* position: relative;  */
  /* left: 100%;
  top: 10%;  */
  animation: clouds-moving 10s alternate infinite;
}

.bottom-cloud {
  /* object-position: 20% 80%; */
  position: relative;
  top: 12vh;
  z-index: 3;
  /* right: 5vw; */
  animation: clouds-moving2 10s alternate infinite;
  /* left: 20%;
  top: 20%; 
  transform: translate(120%, 0);  */
}

@keyframes clouds-moving {
  0% {
    right: 20%;
  }

  100% {
    right: 30px;
  }
}

@keyframes clouds-moving2 {
  0% {
    left: 10%;
  }
  100% {
    left: 30px;
  }
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

td {
  padding: 3%;
}

.picture-td {
  width: 30%;
}

.text-td {
  width: 70%;
}

h1 {
  margin: 10% auto;
  font-size: 3rem;
  font-family: "WindSong", cursive;
  color: #2b580c;
}

#subtitle {
  margin: 10%;
}

p a {
  margin: 0;
  /* font-style: italic; */
  color: #54a61e;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  color: #5c3d2e;
}

p {
  margin: 3%;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: 900;
}

h2,
h3 {
  font-family: "Merriweather", serif;
  color: #2b580c;
  font-family: "WindSong", cursive;
}

h2 {
  font-size: 1.3rem;
}

hr {
  border: dotted #54a61e 6px;
  border-bottom: none;
  width: 24%;
  margin: 40px auto;
}

.facts {
  padding: 1%;
  text-align: left;
}

/* a {
  color: #5c3d2e;
  font-family: "Merriweather", serif;
  margin: 10px;
  text-decoration: none;
} */

a:hover {
  color: #feffe2;
}

.card {
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  border-radius: 5px;
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.2);
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3%;
  /* text-align: center; */
}

.top-container {
  background-color: #e0e7f1;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #d6efc7;
}

.lower-container {
  background-color: #eae3c8;
}

.external-links {
  background-color: #dad0c2;
  /* margin-bottom: 1%; */
}

.skill-row_1 {
  width: 70%;
  margin: 70px auto auto auto;
  text-align: left;
}

.works {
  margin: 20px auto auto auto;
  line-height: 2.5;
}

.skill-row_2 {
  width: 70%;
  margin: 100px auto auto auto;
  text-align: left;
}

.ring {
  width: 50%;
  height: auto;
  float: right;
  margin-right: 50px;
}

.gandalf {
  width: 20%;
  height: auto;
}

.btn {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  /* height: 22px; */
  /* line-height: 13px; */
  color: #ffffff;
  font-family: "Merriweather", serif;
  /* width: 110px; */
  font-size: 15px;
  /* padding: 1px; */
  background-color: #897853;
  text-decoration: none;
  /* display: inline-block; */
  cursor: pointer;
  text-align: center;

  padding: 1%;
  font-weight: bold;
  width: 10rem;
  height: 4rem;
  border-width: 0;
}

.btn:hover {
  background: #85603f;
  border: solid #1c650f 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

/* .last-container {
  background-color: #eae3c8;
}

.owner {
  margin: 20px auto 0 auto;
  color: #cdbba7;
  font-size: 0.85rem;
} */

@media (max-width: 956px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  /* .cloud {
    max-width: 70%;
    max-height: auto;
  } */
}

@media (max-width: 786px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  table {
    width: 90%;
  }
  /* .cloud {
    max-width: 50%;
    max-height: auto;
  } */
}
